<div class="container">
  <button (click)="toggleBodyFat()" class="btn btn-primary my-sm-5">
    Show Body Fat
  </button>
</div>

<table class="table container">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Weight</th>
      <th *ngIf="showBodyFat" scope="col">Body Fat %</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of entries">
      <td style="width: 20px;">
        <a [routerLink]="['/entries/' + entry.id]">
          <span class="detailIcon"><i class="fas fa-info-circle"></i></span>
        </a>
      </td>
      <td scope="col">{{(entry.date | date: 'longDate')}}</td>
      <td scope="col">{{entry.weight}}</td>
      <td *ngIf="showBodyFat" scope="col">{{entry.bodyfat | percent}}</td>
    </tr>
  </tbody>
</table>

<div class="container row">
  <div class="col-sm">
    <hm-new-weight-entry [showBodyFat]="showBodyFat" (create)="createNewEntry($event)"></hm-new-weight-entry>
  </div>
  <div class="col-sm">
    &nbsp;
  </div>
</div>